body {
	font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
	font-size: 16px;
  text-align: center;
}

/* Navigation Settings */
.top {
	position: absolute;
	top: 70px;
	width: 100%;
	height: 50px;
	background-color: #333;
}

.top li {
	display: inline-block;
	padding: 24px 10px;
}

.top li a {
	color: #b6abab;
	text-transform: uppercase;
}

@media only screen and (max-width: 520px) {

	.top li {
		padding: 24px 4px;
	}

	.top li a {
		font-size: 14px;
	}

}