/* Layout: */

.col-main {
  flex: 1;  
  /* float: left; */
}  

.col-complementary {
  flex: 1;  
}

.left {
  float:left 
}  

/* Responsive: */

@media only screen and (min-width: 640px) {
  .layout {
    display: flex;
  }
}

.container {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
}

.col {
  max-width: 30em;
  padding: 1em;
  margin: 0 2px 2px 0;
}