body {
  max-width: 10000px;
  overflow-x: hidden;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: hidden;
  font-size: 30px;
  text-align: left;
}

.flex-item {
  background-color: /* rgba(53, 50, 36, 0.02) */ rgb(252, 255, 211);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.cart-button {
  cursor: pointer;
  height: 2rem;
  width: 12.5rem;
  border-radius: 3px;
  background-color: #bdf;
}

.cart-button:hover {
  background-color: rgb(123, 191, 255);
}

@media (max-width: 800px) {
  .flex-container {
    justify-content: space-evenly;
  }
} 